@import './variables';
@import 'https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap';

// noinspection CssInvalidAtRule
@tailwind base;
// noinspection CssInvalidAtRule
@tailwind components;
// noinspection CssInvalidAtRule
@tailwind utilities;

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../images/bg-image.png) no-repeat fixed top center #34313f;
  font-family: jost, sans-serif;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  color: #808080;
  padding: 1.25em 0.5em 2em 0.5em;
  @apply text-base;
}

p {
  @apply text-gray-300;
  @apply text-base;
  margin: 0 0 15px
}

h1, h2, h3, h4, h5, h6 {
  @apply text-gray-200;
  font-weight: 600;
  line-height: 1.3333;
  margin: 0 0 1em;
  @apply text-base
}

nav li:hover,
nav li.router-link-active,
nav li.router-link-exact-active {
  @apply text-emerald-400;
  cursor: pointer;
  transition: all 200ms ease-in;
}

.viewer {
  &-zoom-in,
  &-zoom-out,
  &-one-to-one,
  &-reset,
  &-prev,
  &-play,
  &-next,
  &-rotate-left,
  &-rotate-right,
  &-flip-horizontal,
  &-flip-vertical,
  &-fullscreen,
  &-fullscreen-exit,
  &-close {
    &::before {
      background-image: url('../images/icons.png');
      background-repeat: no-repeat;
      background-size: 280px;
      color: transparent;
      display: block;
      font-size: 0;
      height: 20px;
      line-height: 0;
      width: 20px;
      scale: 1.25
    }
  }
}